#common {
	position: fixed;
	display: block;
	left: -110px;
	top: 50px;
	width: 100px;
	padding: 5px;
	background: rgba(255,255,255,0.8);
	text-align: center;
	height: 100px;
}
#special {
	top: 20px;
	height: 170px;
	position: absolute;
	display: inline-block;
	width: 50px;
	margin: auto;
	}
#open {
	top: 0px;
	position: absolute;
	}
#close {
	bottom: 0px;
	position: absolute;
	}
